body {
    background: black;
}

.clock {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 3.125rem;
    font-family: Orbitron;
    letter-spacing: 0.438rem;
    text-align: center;
}